.items-contents {
    margin: 50px 0;
}

.items-heading {
    display: flex;
    padding: 0 50px;
    border-bottom: 2px solid #5F5F5F;
    font-size: 24px;
    font-weight: 700;
}

.items-heading-label {
    margin: 0 30px;
    padding-bottom: 5px;
}

.items-heading-label-selected {
    margin: 0 30px;
    padding-bottom: 5px;
    color: #FF0000;
}

.items-list {
    display: flex;
    margin: 50px 35px;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 35px 10px;
}

.item-card{
    height: 320px;
    width: 290px;
    padding: 15px;
}

.item-card a{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}

.item-card img {
    width: 100%;
}

.item-card p{
    text-decoration: none;
    margin: 0;
}

.item-card-sold{
    height: 320px;
    width: 290px;
    padding: 15px;
}

.item-card-sold a{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}

.item-card-sold-image{
    height: 290px;
    width: 290px;
    position: relative;
}

.item-card-sold-image img {
    width: 100%;
    opacity: 0.2;
}

.item-name{
    text-decoration: none;
    margin: 0;
}

.item-description-sold{
    color: red;
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}