.items-contents {
    margin: 50px 0;
}

.items-heading {
    display: flex;
    padding: 0 50px;
    border-bottom: 2px solid #5F5F5F;
    font-size: 24px;
    font-weight: 700;
}

.items-heading-label {
    margin: 0 30px;
    padding-bottom: 5px;
}

.items-list {
    display: flex;
    margin: 50px 35px;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 35px 10px;
}

/* .items-list a {
    height: 320px;
    width: 290px;
    text-decoration: none;
} */

.item-card{
    height: 320px;
    width: 290px;
    padding: 15px;
}

.item-card a{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}

.item-card img {
    width: 100%;
}

.item-card p{
    text-decoration: none;
    margin: 0;
}