.register-contents {
    max-width: 1540px;
    width: 40%;
    text-align: center;
    margin: 50px auto;
}

.register-heading {
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin-bottom: 40px;
}

.register-form {
    width: 100%;
}

.form-input {
    width: 100%;
    height: 30px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    margin: 5px 0;
}

.form-label {
    text-align: left;
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

.form-button {
    width: 100%;
    height: 35px;
    background-color: #FF5555;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-top: 70px;
    cursor: pointer;
}

.login {
    font-weight: 400px;
    font-size: 14px;
    margin-top: 20px;
    color: #0073cc;
}

.form-error{
    margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width:850px) {
    .register-contents {
        width: 60%;
    }
}