
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-jp {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

button,input,select,textarea {
    font-family: inherit;
}

.header {
    background-color: #000000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 10px 0;
}

.header__logo {
    padding: 10px;
    width: 30%;
}

.header__logo img {
    height: 30px;
    padding: 10px;
}

.header-search-form {
    width: 40%;
    margin-left: 10%;
}

.header-search-form input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    color: #000000;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding-left: 10%;
    padding-right: 20px;
}

.header-button {
    text-decoration: none;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.header-button-a {
    text-decoration: none;
    color: #FFFFFF;
}

.header-button-sell {
    text-decoration: none;
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px 10px;
    border-radius: 4px;
}

.form-error{
    color: red;
    font-size: 16px;
    text-align: left;
}

@media (min-width: 768px) and (max-width:850px) {

    .header__inner {
        justify-content: flex-start;
    }

    .header__logo{
        width: 25%;
        padding: 5px;
    }

    .header__logo img {
        height: auto;
        width: 100%;
    }

    .header-search-form {
        width: 40%;
        margin-left: 20px;
    }
    
    .header-nav{
        width: 35%;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        gap: 10px;
    }
}